.Rproj.user
.DS_Store
.Rhistory
.RData
.Ruserdata

/_site/
/.resources/
/.quarto/

# node / pnpm / yarn
node_modules/
.npm/
.pnpm/

# Generated HTML files (should only exist in _site/)
*.html
!seo.html
!pk-operators.html
