project:
  type: website
  output-dir: _site
  render:
    - "**/*.qmd"
    - "404.md"
    - "!CLAUDE.md"
  post-render:
    - scripts/fix-sitemap.py
    - scripts/fix-canonical.py

resources:
  - images/seedling_tiny_ps.svg
  - robots.txt
  - _redirects

execute:
  freeze: auto

website:
  title: "Viktor Rognås"
  favicon: "favicon.png"
  google-analytics: "G-83Y8K7VV1M"
  cookie-consent: true
  open-graph: true
  twitter-card: true
  site-url: https://vrognas.com
  site-path: "/"
  repo-url: https://github.com/vrognas/vrognas_site
  repo-actions: [source, issue]
  image: "images/vrognas.avif"
  reader-mode: true
  page-navigation: true
  bread-crumbs: true
  navbar:
    title: false
    logo: "images/logo.png"
    left:
      - text: "About"
        href: about/
      - text: "Portfolio"
        href: portfolio/
      - text: "Encyclopædia"
        menu:
          - text: "Auxiliary Arts"
            href: docs/aux/index.qmd
          - text: "Concepts of the Craft"
            href: docs/concepts/index.qmd
          - text: "Community Compendium"
            href: docs/community/index.qmd
          - text: "Modeling Manual"
            href: docs/modeling/index.qmd
          - text: "Pathology Primers"
            href: docs/pathology-primers/index.qmd
          - text: "Pharmacopœia"
            href: docs/pharmacopeia/index.qmd
          - text: "Regulatory Rites"
            href: docs/regulatory/index.qmd
          - text: "Tools of the Trade"
            href: docs/tools-of-the-trade/index.qmd
    right:
      - icon: github
        href: https://github.com/vrognas
      - icon: linkedin
        href: https://www.linkedin.com/in/vrognas/
      - text: "{{< fa brands google-scholar >}}"
        href: https://scholar.google.com/citations?user=RBJi1XQAAAAJ
      - text: "{{< fa brands orcid >}}"
        href: https://orcid.org/0000-0002-7837-2467
  sidebar:
    - id: aux
      title: "Auxiliary Arts"
      collapse-level: 2
      style: "floating"
      contents:
        - section: "Auxiliary Arts"
          href: docs/aux/index.qmd
          contents:
            - text: "Self Management"
              href: docs/aux/self-mgmt/index.qmd
            - section: "Communication"
              contents:
                - text: "Presentation Technique"
                  href: docs/aux/communication/presentation/index.qmd
                - text: "Email"
                  href: docs/aux/communication/email/index.qmd
                - text: "Meetings"
                  href: docs/aux/communication/meetings/index.qmd
                - text: "Writing Tactics"
                  href: docs/aux/communication/writing-tactics/index.qmd
            - text: "Data Visualization"
              href: docs/aux/data-viz/index.qmd
            - section: "Practical Programming"
              contents:
                - text: "Coding Practices"
                  href: docs/aux/practical-programming/code/index.qmd
                - text: "Reproducible Research"
                  href: docs/aux/practical-programming/repr/index.qmd
            - text: "Math Intuition"
              href: docs/aux/math-intuition/index.qmd
    - id: concepts
      title: "Concepts of the Craft"
      collapse-level: 2
      style: "floating"
      contents:
        - section: "Concepts of the Craft"
          href: docs/concepts/index.qmd
          contents:
            - section: "Pharmacokinetics"
              href: docs/concepts/pk/index.qmd
              contents:
                - text: "Absorption"
                  href: docs/concepts/pk/1_absorption/index.qmd
                - text: "Distribution"
                  href: docs/concepts/pk/2_distribution/index.qmd
                - section: "Elimination"
                  href: docs/concepts/pk/3_elimination/index.qmd
                  contents:
                    - text: "Augmented renal clearance (ARC)"
                      href: docs/concepts/pk/augmented-renal-clearance/index.qmd
            - text: "Pharmacodynamics"
              href: docs/concepts/pd/index.qmd
            - text: "Pediatrics"
              href: docs/concepts/pediatrics/index.qmd
            - section: "Clinical studies"
              href: docs/concepts/clinpharm-studies/index.qmd
              contents:
                - text: "Data standards"
                  href: docs/concepts/clinpharm-studies/cdisc/index.qmd
                - text: "Hepatic impairment (HI)"
                  href: docs/concepts/clinpharm-studies/hepatic-impairment-studies/index.qmd
                - text: "Renal impairment (RI)"
                  href: docs/concepts/clinpharm-studies/renal-impairment-studies/index.qmd
                - text: "QT-prolongation"
                  href: docs/concepts/clinpharm-studies/qt/index.qmd
    - id: guilds
      title: "Community Compendium"
      collapse-level: 2
      style: "floating"
      contents:
        - section: "Community Compendium"
          href: docs/community/index.qmd
          contents:
            - text: "NMusers"
              href: docs/community/nmusers/index.qmd
    - id: modeling
      title: "Modeling Manual"
      collapse-level: 2
      style: floating
      contents:
        - section: "Modeling Manual"
          href: docs/modeling/index.qmd
          contents:
            - text: "PK"
              href: docs/modeling/pk/index.qmd
            - text: "PD"
              href: docs/modeling/pd/index.qmd
            - text: "PKPD/E-R"
              href: docs/modeling/pkpd/index.qmd
            - text: "Time-to-event"
              href: docs/modeling/tte/index.qmd
            - text: "C-QTc"
              href: docs/modeling/qt/index.qmd
            - section: "Goodness-of-fit"
              contents:
                - text: "Continuous data"
                  href: docs/modeling/gof/gof-cts/index.qmd
                - text: "Categorical data"
                  href: docs/modeling/gof/gof-cat/index.qmd
            - text: "Priors"
              href: docs/modeling/priors/index.qmd
            - text: "Variability"
              href: docs/modeling/variability/index.qmd
    - id: pathology-primers
      title: "Pathology Primers"
      collapse-level: 1
      style: "floating"
      contents:
        - section: "Pathology Primers"
          href: docs/pathology-primers/index.qmd
          contents:
            - section: "Autoimmune diseases"
              contents:
                - text: "Giant cell arteritis (GCA)"
                  href: docs/pathology-primers/autoimmune/giant-cell-arteritis/index.qmd
                - text: "Psoriasis"
                  href: docs/pathology-primers/autoimmune/psoriasis/index.qmd
                - text: "Rheumatoid arthritis (RA)"
                  href: docs/pathology-primers/autoimmune/rheumatoid-arthritis/index.qmd
            - section: "Viral infections"
              contents:
                - text: "HIV/AIDS"
                  href: docs/pathology-primers/viral/hiv/index.qmd
            - section: "Bacterial infections"
              href: docs/pathology-primers/bacterial/bacterial-infection/index.qmd
              contents:
                - text: "Tuberculosis"
                  href: docs/pathology-primers/bacterial/tuberculosis/index.qmd
            - section: "Cancer"
              contents:
                - text: "Lung cancers"
                  href: docs/pathology-primers/cancer/lung-cancer/index.qmd
                - text: "Skin cancers"
                  href: docs/pathology-primers/cancer/skin-cancer/index.qmd
            - section: "Neurological diseases"
              contents:
                - text: "Alzheimer"
                  href: docs/pathology-primers/neurological/alzheimer/index.qmd
                - text: "Parkinson"
                  href: docs/pathology-primers/neurological/parkinson/index.qmd
                - text: "Schizophrenia"
                  href: docs/pathology-primers/neurological/schizophrenia/index.qmd
            - text: "Diabetes"
              href: docs/pathology-primers/diabetes/index.qmd
    - id: pharmacopeia
      title: "Pharmacopœia"
      collapse-level: 2
      style: "floating"
      contents:
        - text: "Pharmacopœia"
          href: docs/pharmacopeia/index.qmd
          contents:
            - section: "(J) Antiinfectives for systemic use"
              contents:
                - text: "(01) Antibacterials for systemic use"
                  href: docs/pharmacopeia/j_antiinfectives-for-systemic-use/j01_antibacterials-for-systemic-use/index.qmd
                - text: "(05) Antivirals for systemic use"
                  href: docs/pharmacopeia/j_antiinfectives-for-systemic-use/j05_antivirals-for-systemic-use/index.qmd
            - section: "(L) Antineoplastic and immunomodulating agents"
              contents:
                - section: "(04) Immunosuppressants"
                  contents:
                    - text: "(A) Immunosuppressants"
                      href: docs/pharmacopeia/l_antineoplastic-and-immunomodulating-agents/l04_immunosuppressants/l04a_immunosuppressants/index.qmd
    - id: regulatory
      title: "Regulatory Rites"
      style: "floating"
    - id: tools-of-the-trade
      title: "Tools of the Trade"
      collapse-level: 2
      style: "floating"
      contents:
        - section: "Tools of the Trade"
          href: docs/tools-of-the-trade/index.qmd
          contents:
            - section: "NONMEM"
              contents:
                - text: "Data"
                  href: docs/tools-of-the-trade/nonmem/nm-data/index.qmd
                - text: "Grok NM-TRAN"
                  href: docs/tools-of-the-trade/nonmem/nm-ctl/index.qmd
                - text: "Estimation"
                  href: docs/tools-of-the-trade/nonmem/nm-est/index.qmd
                - text: "Troubleshooting"
                  href: docs/tools-of-the-trade/nonmem/nm-err/index.qmd
                - text: "Model QA"
                  href: docs/tools-of-the-trade/nonmem/nm-qa/index.qmd
                - text: "Tips-n-tricks"
                  href: docs/tools-of-the-trade/nonmem/nm-tips-n-tricks/index.qmd
            - section: "R"
              contents:
                - text: "Tips-n-tricks"
                  href: docs/tools-of-the-trade/r/r-tips-n-tricks/index.qmd
  page-footer:
    left: "© 2026 Viktor Rognås"
    right:
      - icon: github
        href: https://github.com/vrognas
      - icon: linkedin
        href: https://www.linkedin.com/in/vrognas/
      - text: "{{< fa brands google-scholar >}}"
        href: https://scholar.google.com/citations?user=RBJi1XQAAAAJ
      - text: "{{< fa brands orcid >}}"
        href: https://orcid.org/0000-0002-7837-2467
format:
  html:
    syntax-definitions:
      - syntaxes/nmtran.xml
    canonical-url: true
    lang: en
    smooth-scroll: false
    link-external-icon: false # Also adds unwanted icon to lightbox
    include-in-header:
      - theme-flash-fix.html
      - seo.html
      - pk-operators.html
    include-after-body:
      - text: '<script type="module" src="/scripts/roughnotation-init.js"></script>'
    theme:
      light: [cosmo, theme-light.scss]
      dark: [cosmo, theme-dark.scss]
    fontsize: 1.1em
    highlight-style: github
    css: styles.css
    toc-title: "Contents"
    toc: true
    toc-expand: 1
    toc-depth: 4
    bibliography: refs.bib
    csl: clinical-microbiology-and-infection.csl
    image-lazy-loading: true
    lightbox: true
    fig-width: 9
    fig-asp: 0.618
    fig-align: center
    fig-cap-location: margin
    code-fold: true
    code-summary: "Show the code"
    code-copy: true
    code-line-numbers: true
    code-overflow: wrap
    grid:
      sidebar-width: 250px
      body-width: 700px
      margin-width: 300px
    crossref:
      lst-prefix: "Code"
      lst-title: "Code"
      custom:
        - kind: float
          reference-prefix: Video
          key: vid
          caption-location: margin
