/*-- scss:defaults --*/

// Base document colors
$body-bg: #282828;
$body-color: #EBDBB2;
// $link-color: #75AADB;
// $link-color: #8D3A37;
$link-color: #8CBD7A;
$link-decoration: none;

$light: #525252;

// Navigation element colors
$footer-bg: #3C3837;
$navbar-bg: #1D2021;


// Code blocks
$code-block-bg-alpha: -.8;

// Bootstrap popovers
$popover-bg: #242424;

// Bootstrap inputs
$input-bg: #242424;
$dropdown-bg: $body-bg;
$dropdown-color: $body-color;
$dropdown-link-color: $body-color;
$dropdown-link-hover-bg: $gray-600;
$dropdown-link-hover-color: white;

/*-- scss:rules --*/

.layout-example {
  background: $gray-700;
}
